{% extends "base.html" %}
{% block title %}Sign up{% endblock %}
{% block head %}
<style>
    body,
    html {
        background-color: #d9d9d9;
        background-image: none;
    }
</style>
{% endblock %}
{% block content %}
<main>
    <div class="box">
        <h1 style="font-family: sans-serif">Sign up</h1>
        <form action="#" method="POST">
            <div class="form-input" style="margin-top: 0">
                <img class="form-icon" src="../static/images/default-user-avatar.jpg" style="width: 40px; height: 60px; margin-top: 0">
                <input id="name" name="name" style="font-size: 24px; margin-left: 5px" type="text" placeholder="Full name" />
            </div>
            <div class="form-input" style="margin-top: 0">
                <img class="form-icon" src="../static/images/mail.png">
                <input id="email" name="email" style="font-size: 24px; margin-left: 5px" type="email" placeholder="Email" />
            </div>
            <div class="form-input">
                <img class="form-icon" src="../static/images/mail.png">
                <input id="phone" name="phone" style="font-size: 24px; margin-left: 5px" type="text" placeholder="Phone number" />
            </div>
            <div class="form-input">
                <img class="form-icon" src="../static/images/password.png">
                <input id="password1" name="password1" style="font-size: 24px; margin-left: 5px" type="password"
                    placeholder="Password" />
            </div>
            <div class="form-input">
                <img class="form-icon" src="../static/images/password.png">
                <input id="password2" name="password2" style="font-size: 24px; margin-left: 5px" type="password"
                    placeholder="Confirm password" />
            </div>
            <button type="submit" class="submit-button">Sign up</button>
            <h3 style="font-family: sans-serif; text-align: center;">Already has an account? <a href="/login">Log in</a>
            </h3>
        </form>
    </div>
</main>
{% endblock %}